html, body {
    padding: 0;
    margin: 0;
}

.sensore-list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.sensore {
    display: flex;
    width: 100vw;
    min-width: 108rem;
    background-color: #a6a6a6;
}

.sensore:nth-child(odd) {
    background-color: #8c8c8c;
}

.sensore-name-container {
    width: 13rem;
    height: 8.2rem;
    line-height: 8rem;
    text-align: center;
    font-family: Arial;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
}

.sensore-name {
    text-align: center;
}

.sensore-value-container {
    height: 8.2rem;
    display: inline-block;
}
