html, body {
    padding: 0;
    margin: 0;
}

button {
    display: inline-block;
    padding: .5em 1.4em;
    margin: .5em;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #CCC;
}

.button-container {
    padding: 1rem;
}

.video-capture-container {
    padding: 1rem;
}

.video-capture {
    width: 100%;
}
